.logo-container {
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.ant-layout-header {
	position: relative;
}
.icon-id-card{
	margin-right:8px;
	float:left;
}
.icon-sign-in{
	margin-right:8px;
	float:left;
}
.icon-id-text{
	font-size:14px;
	float:left;
}
.icon-sign-text{
	font-size:14px;
	float:left;
}